@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }

  :root {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
    height: 100%;
    --header-height: 3.5rem;
    --footer-height: 3.5rem;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  body {
    height: 100%;
  }
}

@theme {
  --height-header: var(--header-height);
  --height-footer: var(--footer-height);
  --height-main: var(--main-height);
  --color-p-border: var(--p-toolbar-border-color);
  --color-p-background: var(--p-toolbar-background);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
}
